.wrap {
  display: flex;
  padding: 24px 0;
  gap: 15px;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

// MIDDLE

.middleContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

.title {
  color: var(--color-main-500);
}

.caption {
  color: var(--color-main-200);
}

// RIGHT

.leftContent,
.rightContent {
  display: flex;
  gap: 10px;
  align-items: center;
  width: fit-content;
  height: fit-content;
}
