.componentWrap {
  position: relative;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  // background-color: rgba(0, 0, 0, 0.1);
}

.input {
  height: 65px;
  width: 35px;
  margin-right: 5px;
  text-align: center;
  padding: 0;
  padding-bottom: 5px;
  font-family: "Gza", serif;
  font-weight: 200;
  font-size: 50px;
  line-height: 120%;
  background: none;
  border: none;
  outline: none;
  border-radius: 0;
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-box-shadow: 0 1px 0 0 var(--color-main-500);
  box-shadow: 0 1px 0 0 var(--color-main-500);
  -webkit-appearance: none;

  &::placeholder {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.1);
  }

  &:focus {
    box-shadow: 0 2px 0 0 var(--color-main-500);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.helperText {
  color: var(--color-main-transparent-200);
  max-width: 300px;
  margin-top: 12px;
  line-height: 120%;
}

.resendSection {
  margin-top: 20px;
  color: var(--color-main-100);
}

.resendLink {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-main-500);
  transition: all 0.15s ease;

  &:hover {
    color: var(--color-accent-500);
  }

  &_disabled {
    opacity: 0.15;
    pointer-events: none;
    text-decoration: none;
  }
}

// HANDLE STATES

.error {
  .input {
    box-shadow: 0 2px 0 0 var(--color-service-error-main);
  }

  .helperText {
    color: var(--color-service-error-main);
  }
}

// SHAKE ANIMATION

.shake {
  -webkit-animation-name: shake-animation;
  animation-name: shake-animation;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

// ANIMATION
@keyframes shake-animation {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
