@import '../../../styles/mixins.scss';

.modal {
  --padding-top-mobile: 30px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title,
.description {
  margin: 0;
}

.listWrap {
  display: flex;
  flex-direction: column;
}

.listItem {
  position: relative;
  cursor: pointer;
  user-select: none;
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;

  border-bottom: 1px solid var(--color-main-transparent-80);

  &:last-child {
    border-bottom: none;
  }

  &:hover::before,
  &:focus-visible::before {
    content: '';
    pointer-events: none;
    position: absolute;
    top: -1px;
    right: -13px;
    width: calc(100% + 26px);
    height: calc(100% + 2px);
    border-radius: var(--radius-s);
    background-color: rgba(0, 0, 0, 0.02);
  }

  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    border: 1px solid var(--color-main-500);
  }
}
