@import "../../../tokens/typography-app.scss";
@import "../../../tokens/grids.scss";

$radius: 4px;
$animation-timing: 2.2s ease infinite;

.body {
  border-radius: $radius;
  background: rgba(0, 0, 0, 0.1);
  animation: pulse $animation-timing;
}

.bone {
  border-radius: $radius;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.03) 8%,
    rgba(0, 0, 0, 0.05) 18%,
    rgba(0, 0, 0, 0.03) 33%
  );
  background-size: 800px 104px;
  animation: shimmer $animation-timing;
}

@keyframes pulse {
  0% {
    background: rgba(0, 0, 0, 0.015);
  }
  50% {
    background: rgba(0, 0, 0, 0.035);
  }
  100% {
    background: rgba(0, 0, 0, 0.015);
  }
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

// TEXT

.textWrap {
  display: flex;
  flex-direction: column;
}

.textLine {
  width: 100%;

  &:last-child:not(:first-child) {
    width: 80%;
    margin-bottom: 0;
  }
}

.title-xlarge {
  height: $typo-app-title-xlarge-desktop-fontsize;
  margin-bottom: calc($typo-app-title-xlarge-desktop-fontsize / 2.8);

  @media only screen and (max-width: $grid-mobile-breakpoint) {
    height: $typo-app-title-xlarge-mobile-fontsize;
    margin-bottom: calc($typo-app-title-xlarge-mobile-fontsize / 2.4);
  }
}

.title-large {
  height: $typo-app-title-large-fontsize;
  margin-bottom: calc($typo-app-title-large-fontsize / 2.6);
}

.title-medium {
  height: $typo-app-title-medium-fontsize;
  margin-bottom: calc($typo-app-title-medium-fontsize / 2.5);
}

.title-medium-adaptive {
  height: $typo-app-title-medium-fontsize;
  margin-bottom: calc($typo-app-title-medium-fontsize / 2);

  @media only screen and (max-width: $grid-mobile-breakpoint) {
    height: $typo-app-title-small-fontsize;
  }
}

.title-small {
  height: $typo-app-title-small-fontsize;
  margin-bottom: calc($typo-app-title-small-fontsize / 1.8);
}

.body-large {
  height: $typo-app-body-large-fontsize;
  margin-bottom: calc($typo-app-body-large-fontsize / 1.5);
}

.body-large-adaptive {
  @extend .body-large;

  @media only screen and (max-width: $grid-mobile-breakpoint) {
    height: $typo-app-body-main-fontsize;
  }
}

.body-main {
  height: $typo-app-body-main-fontsize;
  margin-bottom: calc($typo-app-body-main-fontsize / 1.3);
}

.body-caption {
  height: $typo-app-body-caption-fontsize;
  margin-bottom: calc($typo-app-body-caption-fontsize / 1.3);
}

// BUTTON

.button {
  border-radius: 60px;

  &__default {
    height: 60px;
  }

  &__small {
    height: 40px;
  }

  &__pill {
    height: 45px;
  }
}

// PROFILE PIC

.profilePic {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}
