.wrap {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: var(--radius-m);
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.caption {
  margin-top: 10px;
  color: var(--color-main-200);
}

.outline {
  border: 1px solid var(--color-main-100);
}
