.pagination {
  position: relative;
  display: flex;
}

.paginationDot {
  user-select: none;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 10px;
  background-color: var(--color-main-500);
  opacity: 0.2;
  transition: width 0.3s ease-out, opacity 0.3s ease;

  &:last-child {
    margin-right: 0;
  }
}

.activeDot {
  width: 20px;
  opacity: 1;
}
