@import '../../../styles/mixins.scss';

.inputs {
  display: flex;
  align-items: center;
  height: 44px;

  -webkit-box-shadow: 0 1px 0 0 var(--color-main-500);
  box-shadow: 0 1px 0 0 var(--color-main-500);
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;

  &:hover,
  &:focus {
    box-shadow: 0 2px 0 0 var(--color-main-500);
  }
}

.inputsFocused {
  box-shadow: 0 2px 0 0 var(--color-main-500);
}

.input {
  @include resetInputMixin();
  @include textInputMixin();

  &::placeholder {
    color: var(--color-main-500);
    opacity: 0.3;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }

  // border: 1px solid rgba(255, 0, 0, 0.151);
}

.dayInput {
  width: 38px;
}

.monthInput {
  width: 45px;
}

.yearInput {
  flex: 1;
  width: 80px;
}

.label {
  @include inputLabel();
}

.labelIfInputFocused {
  opacity: 1;
  -webkit-transform: translateY(-34px) scale(0.6);
  transform: translateY(-34px) scale(0.6);
}

.slash {
  @include textInputMixin();
  opacity: 0.3;
  margin: 0 2px;
}

.icon {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.hide {
  opacity: 0;
}

.noEvents {
  pointer-events: none;
}

.error {
  box-shadow: 0 2px 0 0 var(--color-service-error-main);

  &:hover {
    box-shadow: 0 2px 0 0 var(--color-service-error-main);
  }
}

.errorHelperText {
  color: var(--color-service-error-main);
}
