@import "../../../tokens/radii";

$card-radius: 15px;

.sliderContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  // background-color: rgba(0, 0, 0, 0.04);

  &:focus-visible {
    outline: none !important;
    border: none !important;

    .pagination {
      outline: 2px solid var(--color-accent-transparent-200);
      outline-offset: 10px;
      border-radius: var(--radius-s);
    }
  }
}

.fadeGradientLeft,
.fadeGradientRight {
  z-index: 1;
  top: -2px;
  position: absolute;
  height: calc(100% + 2px);
}

.fadeGradientLeft {
  background-image: linear-gradient(to right, white, transparent);
  // background-color: rgba(0, 0, 0, 0.1);
}

.fadeGradientRight {
  background-image: linear-gradient(to left, white, transparent);
  // background-color: rgba(0, 0, 0, 0.1);
}

.slider {
  overflow-x: hidden;
  position: relative;
  display: inline-block;
  // overflow-x: visible;
  // scroll-snap-type: x mandatory;
  outline-offset: 5px;
  outline-color: var(--color-accent-transparent-200);

  &::-webkit-scrollbar {
    display: none;
  }

  &:hover,
  &:focus {
    border: none !important;
    outline: none !important;
  }
}

.sliderCards {
  margin-left: 1px;
  display: flex;
  flex-wrap: nowrap;
  width: fit-content;
}

.cardWrap {
  scroll-snap-align: start;
}

.paginationWrap {
  display: flex;
  // justify-content: center;
  margin-top: 30px;
}

.pagination {
  outline-color: var(--color-accent-transparent-200);
  transition: outline-offset 0.2s ease, outline-color 0.2s ease;
}

.arrowButtonLeft,
.arrowButtonRight {
  z-index: 2;
  position: absolute;
  top: calc(50% - 40px);
  transform: translateY(-50%);
}

// LAST CARD

.lastCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid var(--color-main-500);
  border-radius: var(--radius-l);

  &__content {
    display: flex;
    align-items: center;
  }

  &__text {
    font-family: "ABCMarfa", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 130%;
    margin-right: 15px;
  }

  &__icon {
    flex: 1 0 auto;
  }
}
