$device-m: 961px;

.sectionBackerContribution {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 0 20px;
  // background-color: rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: $device-m) {
    max-width: 886px;
  }
}

.slider {
  margin: 0 -20px;
  width: calc(100% + 40px);

  @media only screen and (min-width: $device-m) {
    display: none;
  }
}

.contributionTitle {
  margin-bottom: 20px;
}

.topCopyContainer {
  margin-bottom: 50px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;

  .card {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.card {
  height: 280px;
  padding: 20px 30px 30px;
  border-radius: 15px;
  text-decoration: none;

  p,
  h4 {
    color: var(--color-main-500);
  }
}

.cardInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.amtContainer {
  display: flex;
  align-items: baseline;
}

.cardDescription {
  padding-bottom: 20px;
}

.card1 {
  background: radial-gradient(
    67.79% 83.21% at 50% 46.43%,
    #fdcebe 0%,
    #f6f0f9 100%
  );
}

.card2 {
  background: radial-gradient(
    65.2% 74.29% at 50% 50%,
    #c4c7f2 0%,
    #f6f0f9 100%
  );
}

.card3 {
  background: radial-gradient(
    50.7% 66.43% at 50% 50%,
    #ffc2ff 0%,
    #f6f0f9 100%
  );
}

.card4 {
  border: 1px solid var(--color-main-500);
}

.customAmtContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 100%;
  border: 1px solid var(--color-main-500);
  border-radius: 15px;
  padding: 23px 0 35px 29px;
  text-decoration: none;

  h3,
  p {
    color: var(--color-main-500);
  }

  h3 {
    margin-bottom: 10px;
  }
}

.customBtn {
  height: 30px;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 15px;
  background-color: var(--color-main-500);

  span {
    font-family: "ABCMArfa", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: var(--color-main-0);
  }
}

.durationContainer {
  width: 100%;
  margin-top: 30px;
}

.durationInnerContainer {
  display: flex;
  align-items: center;
}

.desktopContainer {
  display: none;

  @media only screen and (min-width: $device-m) {
    display: flex;
    flex-direction: column;
  }
}

.pointingHand {
  margin-right: 10px;
}
