$device-m: 961px;

.sectionBackerContribution {
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.contributionTitle {
  margin-bottom: 20px;
}

.contributionSubtitle {
  margin-bottom: 50px;
}

.topCopyContainer {
  padding-left: 20px;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card {
  height: 280px;
  width: 280px;
  padding: 18px 30px 31px 29px;
  border-radius: 15px;
  text-decoration: none;
}

.card:hover, .customAmtContainer:hover {
  color: #141414;
}

.cardInnerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
}

.amtContainer {
  display: flex;
  align-items: baseline;
}

.cardDescription {
  padding-bottom: 20px;
}

.card1 {
  background: #FDCEBE;
}

.card2 {
  background: #C4C7F2;
}

.card3 {
  background: #FFC2FF;
}

.card4 {
  border: 1px solid #141414;
}

.customAmtContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 100%;
  border: 1px solid #141414;
  border-radius: 15px;
  padding: 23px 0 35px 29px;
  margin-bottom: 40px;
  text-decoration: none;
}

.customBtn {
  min-width: unset !important;
  height: 30px !important;

  span {
    font-size: 12px !important;
  }
}

.durationContainer {
  width: 100%;
  padding-left: 20px;
  margin-top: 30px;
}

.durationInnerContainer {
  display: flex;
  align-items: center;
}

.pointingFinger {
  margin-right: 18.8px;
}

.desktopContainer {
  display: none;
}

.slideWrapperContainer {
  margin-left: 0px !important;
  width: 100% !important;
}

@media only screen and (min-width: 465px) {
  .slideWrapperContainer {
    margin-left: -20px !important;
    width: calc(100% + 20px) !important;
  }
}

@media only screen and (min-width: $device-m) {
  .sectionBackerContribution {
    max-width: 886px;
  }

  .topCopyContainer {
    padding-left: 0px;
  }

  .desktopContainer {
    display: block;
  }

  .slideWrapperContainer {
    display: none !important;
  }

  .durationContainer {
    padding-left: 0px;
  }
}