@import "../../../../tokens/all.scss";
@import "../variables.scss";

.modalWrap {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-fill-available;
  opacity: 0;
  pointer-events: none;
}

.background {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    circle at bottom,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );

  &::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 1400px;
    top: 50%;
    left: 50%;
    // opacity: 0;
    transform: translate(-50%, -50%) scale(1) rotate(-45deg);
    background-image: var(--gradient-peach);
    // background-color: aquamarine;
  }

  &::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 1000px;
    top: 30%;
    left: 90%;
    // opacity: 0;
    transform: translate(-50%, -50%) scale(1) rotate(-33deg);
    background-image: var(--gradient-velvet);
    // background-color: aquamarine;
  }
}

.bottomSheetWrap {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  // bottom: 100%;
  padding: 30px 30px;
  // border: 1px solid black;
  border-radius: $radius-m $radius-m 0 0;
  background-color: var(--color-main-0);
  width: 100%;

  &::after {
    user-select: none;
    content: "";
    position: absolute;
    left: 0;
    bottom: -390px;
    width: 100%;
    height: 400px;
    background-color: var(--color-main-0);
  }
}
