.pic {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.letterPlaceholder {
  width: 100%;
  height: 100%;

  text {
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    fill: white;
    text-decoration: none;
  }
}
