/* RESET */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* FONTS */
@font-face {
  font-family: "ABCMarfa";
  src: url("../fonts/ABCMarfa-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ABCMarfa";
  src: url("../fonts/ABCMarfa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gza";
  src: url("../fonts/GzaBold-Desktop.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* GLOBAL */
:root {
  --color-selection: #e1b2ff8d;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

strong {
  font-weight: 500;
}

body {
  font-family: "ABCMarfa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

::selection {
  background: var(--color-selection);
}

:root {
  /* // SCSS VARIABLES // */
  --color-main-500: #141414;
  --color-main-400: #373737;
  --color-main-200: #8a8a8a;
  --color-main-100: #b9b9b9;
  --color-main-50: #f4f4f4;
  --color-main-0: #ffffff;
  --color-main-transparent-400: #141414d9;
  --color-main-transparent-200: #14141480;
  --color-main-transparent-100: #1414144d;
  --color-main-transparent-80: #14141414;
  --color-main-transparent-50: #1414140a;
  --color-accent-800: #9a63c3;
  --color-accent-500: #b380d4;
  --color-accent-200: #e1c6f3;
  --color-accent-50: #f6f0f9;
  --color-accent-transparent-200: #b380d470;
  --color-accent-transparent-50: #b380d41f;
  --color-peach-900: #fcb099;
  --color-peach-500: #fdcebe;
  --color-peach-200: #feeadf;
  --color-peach-50: #fcf5ef;
  --color-peach-transparent-200: #fdd5be70;
  --color-peach-transparent-50: #fdd8be42;
  --color-service-error-main: #f54e5d;
  --color-service-error-dark: #a8333b;
  --color-service-error-light: #ffeef1;
  --color-service-warning-main: #ffca64;
  --color-service-warning-dark: #d07408;
  --color-service-warning-light: #fff6e4;
  --color-service-success-main: #d3fb60;
  --color-service-success-dark: #588909;
  --color-service-success-light: #f5fced;
  --gradient-peach: radial-gradient(
    50% 50% at 50% 50%,
    #fdcebe 0%,
    rgba(253, 206, 190, 0) 100%
  );
  --gradient-velvet: radial-gradient(
    50% 50% at 50% 50%,
    #c4c7f2 0%,
    rgba(196, 199, 242, 0) 100%
  );
  --gradient-ice: radial-gradient(
    50% 50% at 50% 50%,
    #a4eff4 0%,
    rgba(164, 239, 244, 0) 100%
  );
  --gradient-pink: radial-gradient(
    50% 50% at 50% 50%,
    #ffc2ff 0%,
    rgba(255, 194, 255, 0) 100%
  );
  --gradient-banana: radial-gradient(
    50% 50% at 50% 50%,
    #fde4be 0%,
    rgba(253, 228, 190, 0) 100%
  );
  --color-skeleton-body: rgba(0, 0, 0, 0.1);
  --color-skeleton-gradient: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05) 16.78%,
    rgba(0, 0, 0, 0.02) 26.34%,
    rgba(0, 0, 0, 0.05) 100%
  );
}

:root {
  --radius-l: 15px;
  --radius-m: 10px;
  --radius-s: 5px;
}

.react-calendar {
  display: flex;
  flex-direction: column;
  min-height: 340px;
}
.react-calendar abbr {
  user-select: none;
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.react-calendar__viewContainer {
  display: flex;
  flex: 1;
  width: 100%;
}

.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.react-calendar__month-view,
.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view {
  width: 100%;
}

.react-calendar__tile {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  background: none;
  border: none;
  outline: none;
  border-radius: var(--radius-s);
  color: var(--color-main-500);
  transition: background-color 0.1s ease-in-out;
}
.react-calendar__tile:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.react-calendar__century-view__decades__decade {
  font-size: 14px;
}

.react-calendar__year-view__months__month:hover,
.react-calendar__decade-view__years__year:hover,
.react-calendar__century-view__decades__decade:hover {
  background-color: rgba(20, 20, 20, 0.05);
}

.react-calendar__navigation__label__labelText {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  background-color: transparent;
  user-select: none;
  border: none;
  outline: none;
}

.react-calendar__navigation__label {
  color: var(--color-main-500);
  flex-grow: 0 !important;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0 20px;
}
.react-calendar__navigation__label:disabled {
  color: var(--color-main-500);
  flex-grow: 0 !important;
}

.react-calendar__navigation__label:not(:disabled):hover {
  background-color: rgba(20, 20, 20, 0.05);
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.react-calendar__navigation__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;
}
.react-calendar__navigation__arrow:hover {
  background-color: rgba(20, 20, 20, 0.05);
}
.react-calendar__navigation__arrow:disabled {
  pointer-events: none;
  opacity: 0.3;
}
.react-calendar__navigation__arrow i {
  transition: transform 0.15s ease-in-out;
}

.react-calendar__navigation__prev-button:hover i,
.react-calendar__navigation__prev2-button:hover i {
  transform: translate(-2px, 0);
}

.react-calendar__navigation__next-button:hover i,
.react-calendar__navigation__next2-button:hover i {
  transform: translate(2px, 0);
}

.react-calendar__month-view__weekdays {
  margin-bottom: 10px;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.react-calendar__month-view__weekdays__weekday abbr {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: var(--color-main-100);
  text-decoration: none;
}

.react-calendar__month-view__days {
  row-gap: 10px;
}

.react-calendar__month-view__days__day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.1s ease;
}
.react-calendar__month-view__days__day:hover::after {
  transform: scale(1);
  background-color: rgba(20, 20, 20, 0.05);
}
.react-calendar__month-view__days__day abbr {
  position: relative;
  z-index: 1;
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: var(--color-main-500);
  text-decoration: none;
}
.react-calendar__month-view__days__day::after {
  z-index: 0;
  position: absolute;
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transform: scale(0.8);
  transition: background-color 0.1s ease, transform 0.2s ease-out;
}

.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: var(--color-main-100);
}

.react-calendar__tile--active:not([class*=react-calendar__tile--range]) abbr,
.react-calendar__tile--rangeStart abbr,
.react-calendar__tile--rangeEnd abbr,
.react-calendar__tile--now abbr {
  color: var(--color-main-0);
}
.react-calendar__tile--active:not([class*=react-calendar__tile--range])::after,
.react-calendar__tile--rangeStart::after,
.react-calendar__tile--rangeEnd::after,
.react-calendar__tile--now::after {
  background-color: var(--color-accent-500);
  transform: scale(1);
}
.react-calendar__tile--active:not([class*=react-calendar__tile--range]):hover::after,
.react-calendar__tile--rangeStart:hover::after,
.react-calendar__tile--rangeEnd:hover::after,
.react-calendar__tile--now:hover::after {
  background-color: var(--color-accent-500);
}

.react-calendar__year-view__months__month + .react-calendar__tile--hasActive {
  background-color: var(--color-accent-500);
}
.react-calendar__year-view__months__month + .react-calendar__tile--hasActive abbr {
  color: var(--color-main-0);
}

.typo-app-title-xlarge {
  font-family: "Gza", serif;
  font-weight: 700;
  font-size: 66px;
  line-height: 115%;
}
@media only screen and (max-width: 620px) {
  .typo-app-title-xlarge {
    font-size: 40px;
    line-height: 120%;
  }
}

.typo-app-title-large {
  font-family: "Gza", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
}

.typo-app-title-medium {
  font-family: "Gza", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 120%;
}

.typo-app-title-medium-adaptive {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 120%;
}
@media only screen and (max-width: 620px) {
  .typo-app-title-medium-adaptive {
    font-size: 24px;
    line-height: 130%;
  }
}

.typo-app-title-small {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.typo-app-body-large, .typo-app-body-large-adaptive {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
}

@media only screen and (max-width: 620px) {
  .typo-app-body-large-adaptive {
    font-size: 17px;
    line-height: 130%;
  }
}

.typo-app-body-large-paragraph, .typo-app-body-large-paragraph-adaptive {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 150%;
}

@media only screen and (max-width: 620px) {
  .typo-app-body-large-paragraph-adaptive {
    font-size: 17px;
    line-height: 160%;
  }
}

.typo-app-body-main {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 130%;
}

.typo-app-body-paragraph {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 160%;
}

.typo-app-body-caption {
  font-family: "ABCMarfa", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
}

.typo-marketing-xlarge {
  font-family: "Gza", serif;
  font-size: 66px;
  font-weight: 700;
  line-height: 115%;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .typo-marketing-xlarge {
    font-size: 60px;
  }
}
@media only screen and (max-width: 620px) {
  .typo-marketing-xlarge {
    font-size: 44px;
  }
}

.typo-marketing-large {
  font-family: "Gza", serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}
@media only screen and (max-width: 1024px) {
  .typo-marketing-large {
    font-size: 42px;
  }
}
@media only screen and (max-width: 620px) {
  .typo-marketing-large {
    font-size: 38px;
  }
}

.typo-marketing-lead {
  font-family: "ABCMarfa", sans-serif;
  font-size: 32px;
  margin-bottom: 28px;
  font-weight: 300;
  line-height: 150%;
}
@media only screen and (max-width: 620px) {
  .typo-marketing-lead {
    font-size: 24px;
  }
}

.typo-marketing-lead-bold {
  font-family: "ABCMarfa", sans-serif;
  font-size: 32px;
  margin-bottom: 28px;
  font-weight: 500;
  line-height: 130%;
}
@media only screen and (max-width: 620px) {
  .typo-marketing-lead-bold {
    font-size: 24px;
  }
}

.typo-marketing-lead-small {
  font-family: "ABCMarfa", sans-serif;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 28px;
  font-weight: 300;
}

.typo-marketing-lead-small-bold {
  font-family: "ABCMarfa", sans-serif;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 28px;
  font-weight: 500;
}

.typo-marketing-accent-paragraph {
  font-family: "ABCMarfa", sans-serif;
  font-size: 24px;
  line-height: 160%;
  font-weight: 300;
}
@media only screen and (max-width: 1024px) {
  .typo-marketing-accent-paragraph {
    font-size: 22px;
  }
}
@media only screen and (max-width: 620px) {
  .typo-marketing-accent-paragraph {
    font-size: 17px;
  }
}

.typo-marketing-accent-paragraph-bold {
  font-family: "ABCMarfa", sans-serif;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
}
@media only screen and (max-width: 1024px) {
  .typo-marketing-accent-paragraph-bold {
    font-size: 22px;
  }
}
@media only screen and (max-width: 620px) {
  .typo-marketing-accent-paragraph-bold {
    font-size: 17px;
  }
}

.typo-marketing-paragraph {
  font-family: "ABCMarfa", sans-serif;
  font-size: 17px;
  line-height: 160%;
  font-weight: 300;
}

.typo-marketing-paragraph-bold {
  font-family: "ABCMarfa", sans-serif;
  font-size: 17px;
  line-height: 160%;
  font-weight: 500;
}

.typo-marketing-caption {
  font-family: "ABCMarfa", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 300;
}

.typo-marketing-caption-bold {
  font-family: "ABCMarfa", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 500;
}
