@mixin input-label {
  display: flex;
  margin-bottom: 10px;

  .labelText {
    font-family: "ABCMArfa", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px;
    line-height: 130%;
  }
}

$focus-line-margin: -4px;

@mixin focus-state($border-radius: 150px) {
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    content: "";
    position: absolute;
    top: $focus-line-margin;
    right: $focus-line-margin;
    bottom: $focus-line-margin;
    left: $focus-line-margin;
    border: 1px solid var(--color-main-500);
    border-radius: $border-radius;
    pointer-events: none;
  }
}
