@mixin input-label {
  display: flex;
  margin-bottom: 10px;

  .labelText {
    font-family: "ABCMArfa", sans-serif;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px;
    line-height: 130%;
  }
}
