$focus-line-margin: -4px;

@mixin focus-state($border-radius: 150px) {
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    content: '';
    position: absolute;
    top: $focus-line-margin;
    right: $focus-line-margin;
    bottom: $focus-line-margin;
    left: $focus-line-margin;
    border: 1px solid var(--color-main-500);
    border-radius: $border-radius;
    pointer-events: none;
  }
}

@mixin navigationButton {
  position: relative;
  z-index: 1;
  cursor: pointer;

  width: 40px;
  height: 40px;

  border: none;
  outline: none;
  background: none;
  background-color: white;
  border-radius: 100px;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.7);
    background-color: var(--color-main-transparent-50);
    transition: opacity 0.1s ease, transform 0.1s ease;
  }
}

@mixin labelIfInputFocused {
  opacity: 1;
  -webkit-transform: translateY(-34px) scale(0.6);
  transform: translateY(-34px) scale(0.6);
}

@mixin inputLabel {
  pointer-events: none;
  position: absolute;
  bottom: 13px;
  font-family: 'ABCMarfa', sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 18px;

  opacity: 0.3;
  transform-origin: left;

  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
