@import "../tokens/all.scss";

$button-hover: rgba(20, 20, 20, 0.05);

.react-calendar {
  display: flex;
  flex-direction: column;
  min-height: 340px;

  abbr {
    user-select: none;
    font-family: $typo-app-body-main-fontfamily;
    font-weight: $typo-app-body-main-fontweight;
    font-size: $typo-app-body-main-fontsize;
  }
}

.react-calendar__viewContainer {
  display: flex;
  flex: 1;
}

.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.react-calendar__year-view__months,
.react-calendar__decade-view__years,
.react-calendar__century-view__decades {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

//

.react-calendar__tile {
  font-family: $typo-app-body-main-fontfamily;
  font-weight: $typo-app-body-main-fontweight;
  font-size: $typo-app-body-main-fontsize;
  background: none;
  border: none;
  outline: none;
  border-radius: var(--radius-s);
  transition: background-color 0.1s ease-in-out;
}

.react-calendar__century-view__decades__decade {
  font-size: 15px;
}

.react-calendar__year-view__months__month:hover,
.react-calendar__decade-view__years__year:hover,
.react-calendar__century-view__decades__decade:hover {
  background-color: $button-hover;
}

//

.react-calendar__navigation__label__labelText {
  font-family: $typo-app-body-main-fontfamily;
  font-weight: $typo-app-body-main-fontweight;
  font-size: $typo-app-body-main-fontsize;
  background-color: transparent;
  user-select: none;
  border: none;
  outline: none;
}

//

.react-calendar__navigation__label {
  color: var(--color-main-500);
  flex-grow: 0 !important;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 0 20px;
}

.react-calendar__navigation__label:not(:disabled):hover {
  background-color: $button-hover;
}

.react-calendar__navigation__label:disabled {
  color: var(--color-main-500);
  flex-grow: 0 !important;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

//

.react-calendar__navigation__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.15s ease-in-out;

  &:hover {
    background-color: $button-hover;
  }

  i {
    transition: transform 0.15s ease-in-out;
  }
}

.react-calendar__navigation__prev-button:hover,
.react-calendar__navigation__prev2-button:hover {
  i {
    transform: translate(-2px, 0);
  }
}

.react-calendar__navigation__next-button:hover,
.react-calendar__navigation__next2-button:hover {
  i {
    transform: translate(2px, 0);
  }
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  abbr {
    font-family: $typo-app-body-main-fontfamily;
    font-weight: $typo-app-body-main-fontweight;
    font-size: $typo-app-body-main-fontsize;
    color: var(--color-main-100);
    text-decoration: none;
  }
}

.react-calendar__month-view__days__day {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  outline: none;
  border: none;
  background-color: transparent;
  transition: background-color 0.1s ease;

  margin-top: 10px;

  &:hover {
    &::after {
      transform: scale(1);
      background-color: $button-hover;
    }
  }

  abbr {
    position: relative;
    z-index: 1;
    font-family: $typo-app-body-main-fontfamily;
    font-weight: $typo-app-body-main-fontweight;
    font-size: $typo-app-body-main-fontsize;
    color: var(--color-main-500);
    text-decoration: none;
  }

  &::after {
    z-index: 0;
    position: absolute;
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    transform: scale(0.8);
    transition: background-color 0.1s ease, transform 0.2s ease-out;
  }
}

//

.react-calendar__month-view__days__day--neighboringMonth {
  abbr {
    color: var(--color-main-100);
  }
}

.react-calendar__tile--active {
  abbr {
    color: var(--color-main-0);
  }

  &::after {
    background-color: var(--color-accent-500);
    transform: scale(1);
  }

  &:hover {
    &::after {
      background-color: var(--color-accent-500);
    }
  }
}
