@font-face {
  font-family: "ABCMarfa";
  src: url("../fonts/ABCMarfa-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ABCMarfa";
  src: url("../fonts/ABCMarfa-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gza";
  src: url("../fonts/GzaBold-Desktop.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
