:root {
  --color-selection: #e1b2ff8d;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

strong {
  font-weight: 500;
}

body {
  font-family: "ABCMarfa", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  overflow-x: hidden;
}

::selection {
  background: var(--color-selection);
}
