.title {
  padding-bottom: 20px;
}

.subtitle {
  padding-bottom: 64px;
}

.frequency {
  padding-bottom: 15px;
}

.fundRecipient {
  padding-bottom: 24px;
}

.bottomText {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 54px;
}

.img {
  margin-right: 20px;
  height: 32.5px;
}

.polaroidContainer {
  position: relative;
  transform: rotate(4.86deg);
  filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.07));
  margin-left: 20px;
}

.frame {
  width: 100px;
  z-index: 2;
  position: relative;
}

.polaroidImage {
  position: absolute;
  top: 8px;
  left: 6px;
  width: 85px;
  background: white;
}

@media only screen and (min-width: 621px) {
  .subtitle {
    padding-bottom: 40px;
  }

  .frequency {
    padding-bottom: 10px;
  }

  .fundRecipient {
    padding-bottom: 50px;
  }

  .bottomText {
    padding-top: 50px;
    padding-bottom: 40px;
  }
}